<div class="container w-1/2 mx-auto mt-4 rounded-lg bg-secondary p-4">
  <div class="">
    <div class="uppercase text-center text-lg">guide for the app</div>
    To use this app with all its features you <strong>should</strong> register , 
      but don't worry if you don't want to register i already set up an account for demo purposes,  
    so  <p class="text-sky-500">if you click the register/login button you should find the login form already filled</p>
      in case you want to try the app without going through the registration process
  </div>
</div>
